h1{
    margin-left: 45px;
    background-color: rgb(180, 184, 182);
    height: 50px;
    width: auto;

}
.body {
    background: rgb(0, 0, 0);
    color: black;
}


.img-thumbnail {
    max-width: 25%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 500px;
    border-color: gray;
}

.container-fluid {
    margin-left: 485px;
}

.container1 {
    margin-left: 200px;
}

.carousel-inner {
    margin-top: 50px;
}

.btn-group {
    margin-top: 100px;
    margin-left: 100px;
}